# 2nd Tutorial - Basics of Python

In [1]:
print("Hello World")

Hello World

In [2]:
# Single and multi-line comment
# Welcome here

In [3]:
'''
Welcome to this tutorial
Enjoy practicing
'''

print("Hello Tripti")

Hello Tripti

# Variable Declaration

In [16]:
a = 10
type(a)

int

In [17]:
print(a)

10

In [8]:
b = 15.6
c = "Tripti"
type(c)

str

In [9]:
type(b)

float

In [13]:
#bad practice
#1a = 10

#good practice
a1 = 10
print(a1)

10

In [14]:
#good practice
first_name = "Tripti"
print(first_name)

Tripti

# Integers

In [18]:
a = 10
type(a)

int

In [19]:
a + 10

20

In [20]:
a * 10

100

In [21]:
a/10

1.0

In [22]:
a%10

0

In [23]:
print(type(a))

<class 'int'>

In [24]:
a = 10
b = 20
print(a+b)

30

# Floating

In [25]:
a = 180.5
print(type(a))

<class 'float'>

In [26]:
print(a)

180.5

In [27]:
#Typecasting
int(a)

180

# Boolean

In [28]:
a = True 
b = False

In [29]:
type(a)
type(b)

bool

In [30]:
a and b

False

In [31]:
a or b

True

In [32]:
a & b

False

In [33]:
a | b

True

# Strings

In [34]:
name = "Tripti"

In [35]:
print(type(name))
print(name)

<class 'str'>
Tripti

In [36]:
#Concatenation
name + "Gupta"

'TriptiGupta'

In [38]:
#Concatenation with typecasting
#name + 1 - convert into string

name + str(1) #dynamic typing

'Tripti1'

# Complex Number

In [39]:
j = 1.0 - 2.3j

In [40]:
print(j)

(1-2.3j)

In [41]:
print(type(j))

<class 'complex'>

In [42]:
print(j.real)

1.0

In [43]:
print(j.imag)

-2.3

In [44]:
print(j.real, j.imag)

1.0 -2.3

# Dynamic Typing

In [45]:
a = 10
a = "Tripti"
print(a)    #data type changes instantly

Tripti

In [46]:
type(a)

str

# Strong Typing

In [48]:
a = "tripti"

In [49]:
a + "1"

'tripti1'

In [50]:
type(a)

str

# String Formatting

In [53]:
a = 100
print("The value of a is -",a)

The value of a is - 100

In [54]:
first_name = "Tripti"
last_name = "Gupta"
print("The first name is {} and last name is {}".format(first_name, last_name))

The first name is Tripti and last name is Gupta

In [57]:
first_name = "Tripti"
last_name = "Gupta"
print("The first name is {0} and last name is {1}".format(first_name, last_name))

The first name is Tripti and last name is Gupta

In [58]:
first_name = "Tripti"
last_name = "Gupta"
print("The first name is {1} and last name is {0}".format(last_name, first_name))

The first name is Tripti and last name is Gupta

In [59]:
first_name = "Tripti"
last_name = "Gupta"
print("The first name is {a} and last name is {b}".format(a = first_name, b = last_name))

The first name is Tripti and last name is Gupta

# Input type

In [61]:
input("Enter your name: ")

Enter your name: Tripti Gupta

'Tripti Gupta '

In [62]:
a = input("Enter number A: ")
b = input("Enter number B: ")

Enter number A: 12
Enter number B: 23

In [63]:
print(a+b) #string values are there. So simply concatenation applys here

1223

In [64]:
print(int(a) + int(b))

35